      .image-upload > input
      { 
    display: none;
      }
        #grad1{
            background: royalblue;
            background: -webkit-linear-gradient(to left,rgba(14, 4, 71, 0.753),rgba(193, 65, 225, 0.363));
            background: -moz-linear-gradient(to left ,rgba(14, 4, 71, 0.753),rgba(193, 65, 225, 0.363));
            background: -o-linear-gradient(to left ,rgba(14, 4, 71, 0.753),rgba(193, 65, 225, 0.363));
            background: linear-gradient(to left ,rgba(14, 4, 71, 0.753),rgba(193, 65, 225, 0.363));
        } 
        
        #Geek-Book{
          color: rgba(255, 255, 255, 0.88);
          font-size: 60px;
        }

        #Geek-Book-Content{
          color: rgba(255, 255, 255, 0.88);
          font-size: 30px;
        }
        .bg-skew {
          background: royalblue;
          background: -webkit-linear-gradient(to left,rgba(14, 4, 71, 0.753),rgba(121, 1, 145, 0.692));
          background: -moz-linear-gradient(to left,rgba(14, 4, 71, 0.753),rgba(121, 1, 145, 0.692));
          background: -o-linear-gradient(to left,rgba(14, 4, 71, 0.753),rgba(121, 1, 145, 0.692));
          background: linear-gradient(to left,rgba(14, 4, 71, 0.753),rgba(121, 1, 145, 0.692));
          transform: skew(0deg, -8deg);
          padding: 100px 0;
          margin-top: -80px;
        }

        .content{
          padding: 8% 10%;
          transform: skew(0deg, 8deg);
          text-align: center;
        }
       .shadow {
           box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .6);
        }

        footer{
            background: linear-gradient(to left ,rgba(14, 4, 71, 0.753),rgba(193, 65, 225, 0.363));
        }

        #submitButton{
            background:#2b1c52 ;
            color: white;
        }
        .form-container{
            border: 1px solid rgba(14, 4, 71, 0.753) ;
            padding: 10% 5%;
            box-shadow: -2px 6px 19px 1px rgba(0,0,0,1);
            margin-top: -30%;
            background-color: whitesmoke;
            border-radius: 5px 5px 5px 5px;
            border : 1px outset #000000;
        }










/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

a {
 background-color: #D3D3D3;   
}